.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-screencap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 350px;
}

.project-card:hover {
    transform: scale(1.1);
}

.deploy a {
    font-size: 24px;
    text-align: center;
}