.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-card:hover {
    transform: scale(1.1);
}

a {
    font-size: 24px;
    text-align: center;
}