footer {
    position: fixed;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
    bottom: 0;
    width: 100%;
    height: 5.625rem;
    background: #eee;
    text-align: center;
  }

  h3 {
    padding-bottom: 0.625rem;
    color: #0077b5;
    text-decoration: underline;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-2px);
  }

  a.github {
    color: #000;
  }
  
  a.linkedin {
    color: #0077b5;
  }

  a.twitter {
    color: #55acee;
  }