footer {
    position: relative;
    top: 0;
    left: 0;
    text-align: center; 
    padding: 25px 50px;
    background: #eee;
  }

  h3 {
    padding-bottom: 10px;
    color: #0077b5;
    text-decoration: underline;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-2px);
  }

  a.github {
    color: #000;
  }
  
  a.linkedin {
    color: #0077b5;
  }

  a.twitter {
    color: #55acee;
  }