
body {
  font-family: 300 11px/1.4 'League Spartan';
  src: url('https://fonts.googleapis.com/css?family=League Spartan'); 
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

